.layout-footer-nav {
  background: #fff;
}

.layout-footer {
  background: #16171A;
  border-top: 1px solid #1d1e22;;
  color: mix($dark, #fff, 60%);
  padding-top: 4em;
  padding-bottom: 6em;
  box-sizing: border-box;
  font-size: 0.95em;
  font-family: $font-family-secondary;
  font-weight: 400;

  .footer {
    .container {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        .links {
          margin-top: 1em;
        }
      }

      .links {
        display: flex;
        flex-wrap: wrap;

        a {
          margin-right: 2em;
          margin-top: 0.5em;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  a {
    color: mix($light, #000, 70%);
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: #fff;
    }
  }

  p {
    color: mix($dark, #fff, 60%);
    
    
  }
  
  .copyright {
    color: mix($dark, #fff, 50%);
    margin-right: 2em;
  }
}

.has-sidebar {
  .row {
    justify-content: space-between;
  }

  .layout-footer {
    @include media-breakpoint-up(lg) {
      .links {
        padding-right: 1.8em;
      }

      .container {
        .row {
          margin-right: 2em;
        }
      }
    }
  }
}
