.layout-footer-nav {
  background: #fff;
}

.layout-footer {
  background: #fff;
  border-top: 1px dotted rgb(228, 231, 235);
  color: mix($dark, #fff, 60%);
  padding-top: 4em;
  padding-bottom: 6em;
  box-sizing: border-box;
  font-size: 0.95em;

  .footer {
    .container {
      display: flex;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        .links {
          margin-top: 1em;
        }
      }

      .links {
        display: flex;
        flex-wrap: wrap;

        // @include media-breakpoint-down(lg) {
        //   flex-direction: column;
        // }

        a {
          margin-right: 2em;
          margin-top: 0.5em;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  a {
    color: mix($dark, #fff, 80%);
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $secondary;
    }
  }

  p {
    color: mix($dark, #fff, 60%);
  }

  .copyright {
    color: mix($dark, #fff, 50%);
    margin-right: 2em;
  }
}

.has-sidebar {
  .row {
    justify-content: space-between;
  }

  .layout-footer {
    @include media-breakpoint-up(lg) {
      .container {
        .row {
          margin-right: 2em;
        }
      }
    }
  }
}
