.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: $font-family-primary;

  .logo__logo {
    height: 2em;
    position: relative;
    top: 3px;
    transition: opacity 100ms linear;
  }

  &:hover {
    .logo__logo {
      opacity: 1;
    }
  }

  .logo__title {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;

    .logo__title-name {
      font-size: 1em;
      font-weight: 400;
      white-space: nowrap;
      position: relative;
      top: 4px;
      color: #fff;
      text-transform: uppercase;
    }

    .logo__title-sub {
      font-size: 0.75em;
      font-weight: 400;
      color: #ddd;
      white-space: nowrap;
      display: none;
    }
  }
}
