.logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: $font-family-primary;

  .logo__logo {
    height: 2.4em;
    position: relative;
    top: 1px;
    transition: opacity 100ms linear;
    opacity: 0.8;
  }

  &:hover {
    .logo__logo {
      opacity: 1;
    }
  }

  .logo__title {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;

    .logo__title-name {
      font-size: 1.2em;
      font-weight: 600;
      white-space: nowrap;
      position: relative;
      top: 2px;
      color: $dark;
    }

    .logo__title-sub {
      font-size: 0.75em;
      margin-top: -0.25em;
      font-weight: 400;
      color: $gray-600;
      white-space: nowrap;
      display: none;
    }
  }
}
