.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 10px;
}

.pagination > li {
  display: inline;
  outline: none;
}

.pagination > li > a,
.pagination > li > span {
  transition: color 100ms linear, background-color 100ms linear;
  outline: none;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 1.42857143;
  color: mix($dark, #fff, 70%);
  text-decoration: none;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  margin: 0 0.6rem;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 1;
  color: $primary;
  background-color: #f8f8f8;
  border-color: #eee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: $primary;
  border-color: $primary;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ddd;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #eee;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
