*[scroll-reveal],
*[scroll-reveal-child] {
  transition: opacity 400ms linear,
    transform 1900ms cubic-bezier(0.19, 1, 0.22, 1);

  &.fast-reveal {
    transition: none;
  }

  &[scroll-reveal-opacity] {
    opacity: 0;
  }

  &[scroll-reveal-left] {
    transform: translateX(20px);
  }
  &[scroll-reveal-right] {
    transform: translateX(-20px);
  }
  &[scroll-reveal-up] {
    transform: translateY(15px);
  }
  &[scroll-reveal-scale-down] {
    transform: scale(1.2);
  }
  &[scroll-reveal-scale-up] {
    transform: scale(0.9);
  }

  &[scroll-reveal-down] {
    transform: translateY(-15px);
  }

  &.scroll-reveal--revealed {
    &[scroll-reveal-left],
    &[scroll-reveal-right],
    &[scroll-reveal-up],
    &[scroll-reveal-scale-down],
    &[scroll-reveal-scale-up],
    &[scroll-reveal-down] {
      transform: translateY(0px);
    }

    &[scroll-reveal-opacity] {
      opacity: 1;
    }
  }
}
