.share-buttons {
  margin: 0;
  padding: 0;
  display: flex;

  .item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    :not(:last-child) {
      margin-right: 0.6rem;
    }

    &--label {
      margin-right: 1rem;
      color: $primary-lighter;
    }

    a {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      color: $primary;
      background: #f8f8f8;

      display: inline-block;
      border-radius: 100px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 150ms ease;
      opacity: 0.8;
      border: 1px solid #eee;

      svg {
        width: 50%;
        height: 50%;
      }

      &:hover {
        border: 1px solid #eee;
        opacity: 1;
        background: #eee;
        transform: translateY(-2px);
      }
    }
  }
}
