.layout-sidebar-button {
  background: #000;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 19;
  transition: all 0.1s linear;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);

  .icon {
    display: inline-block;
  }

  .menu-icon {
    svg {
      fill: #fff;
    }

    .menu-icon__top,
    .menu-icon__bottom {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -7px;
      transition: margin 0.2s linear;
    }

    .menu-icon__top {
      margin-top: -14px;
      transform: rotateZ(180deg);
    }

    .menu-icon__bottom {
      margin-top: 1px;
    }
  }
}

.sidebar-open,
.sidebar-open--force {
  .layout-sidebar-button {
    .menu-icon {
      .menu-icon__top {
        margin-top: -4px;
        transform: rotateZ(180deg);
      }

      .menu-icon__bottom {
        margin-top: -10px;
      }
    }
  }
}
