.layout-sidebar-button {
  background: #fff;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 19;
  transition: all 0.1s linear;
  border: 1px solid $primary-lightest;

  .icon {
    display: inline-block;
  }

  .layout-sidebar-button__text {
    color: $primary;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    left: 0.8rem;
    user-select: none;
    font-size: .9em;
    letter-spacing: 1px;
  }

  .menu-icon {
    svg {
      fill: $primary;
    }

    .menu-icon__top,
    .menu-icon__bottom {
      position: absolute;
      top: 50%;
      left: 27.5%;
      margin-left: -7px;
      transition: margin 0.2s linear;
    }

    .menu-icon__top {
      margin-top: -15px;
      transform: rotateZ(180deg);
    }

    .menu-icon__bottom {
      margin-top: 1px;
    }
  }
}

.sidebar-open,
.sidebar-open--force {
  .layout-sidebar-button {
    .menu-icon {
      .menu-icon__top {
        margin-top: -4px;
        transform: rotateZ(180deg);
      }

      .menu-icon__bottom {
        margin-top: -10px;
      }
    }
  }
}
