@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "./config";

@import "node_modules/bootstrap/scss/variables";

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light;
  background: #232429;
  font-family: $font-family-primary;

  .content__default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.9em;
    padding-top: 3rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-primary;
  }

  p {
    strong {
      font-weight: 500;
      color: $light;
    }
  }

  .landing-logo__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 2em;

    @include media-breakpoint-down(sm) {
      font-size: 1.2em;
    }

    .logo__wrapper {
      flex-direction: column;

      .logo__logo {
        height: 3.4em;
        margin: 0;
      }

      .logo__title {
        margin: 0;
        text-align: center;
        line-height: 1.6;
        margin-top: 1em;
        font-size: 0.6em;

        .logo__title-name {
          margin-bottom: 0.1em;
          font-family: $font-family-primary;
        }

        .logo__title-sub {
          display: inline-block;
        }
      }
    }
  }

  p {
    font-size: 1rem;
    color: $dark;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  ul {
    li {
      font-size: 0.9em;
    }
  }

  //
  // Special sections
  //
  .section-warn {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 70%;

    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      font-size: 0.8em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.65em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.6em;
    }

    position: relative;
    color: $gray-700;
    font-size: 1.1em;
    font-weight: 400;

    i {
      font-style: normal;
      font-size: 2em;
    }

    a {
      display: inline;
      color: $gray-600;;
    }
  }

  .section-links {
    display: flex;
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 4em;
    font-size: 1.2em;
    flex-wrap: wrap;

    .links__link {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 1em;
      font-size: 1.2em;
      padding: 0.4em 1em;
      border-radius: 6px;
      margin-right: .6em;
      margin-left: .6em;
      max-width: 17em;
      transition: all 100ms;
      box-sizing: border-box;
      font-family: $font-family-secondary;
      color: $light-darker;
      white-space: nowrap;
      background: #2d2e33;

      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 100%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 80%;
        width: 80%;
      }

      &:hover {
        opacity: 0.9;
        background: #37383d;
      }
    }
  }
}
