@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "roadmap";
@import "./config";
@import "./scroll-reveal";

@import "node_modules/bootstrap/scss/variables";

.landing .hero {
  position: relative;
  margin-top: -4rem;
  padding-top: 4rem;
  color: $primary-darker;
  background: #fff;
  border-bottom: 1px dotted #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero__background {
    background: url(../../public/hero-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.05;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
  }

  .hero__details {
    margin-top: -1rem;

    p {
      opacity: 0.8;
      font-style: italic;

      @include media-breakpoint-down(md) {
        font-size: 1em;
      }
    }

    .hero__details-summary-button {
      display: inline-block;
      margin-bottom: 3rem;
    }

    .brand-button {
      color: $primary;

      .brand-button__text {
        color: $primary;
      }
    }

    .btn {
      padding: 0.5rem 1.2rem;
      color: #fff;
      // border-radius: 100px;

      &.btn-summary {
        margin-right: 1rem;
      }

      &.btn-social {
        padding: 0.5rem 1.2rem 0.6rem;
        margin-right: 0.8rem;
        margin-top: 1rem;
        font-size: 0.9em;
        background: $primary-lightest;

        &:hover {
          background: $primary;
        }

        @include media-breakpoint-down(md) {
          font-size: 0.8em;
        }
      }

      &.btn-accent {
        background: $secondary;

        &:hover {
          background: $secondary-darkest;
        }
      }

      svg {
        width: 1rem;
        margin-right: 1rem;
        color: #fff;
      }

      &.btn-reddit,
      &.btn-telegram {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
      &.btn-reddit {
        &:hover {
          background: #ff4500;
        }

        svg {
          position: relative;
          top: -2px;
        }
      }
      &.btn-telegram {
        &:hover {
          background: #0088cc;
        }

        svg {
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .hero__join-note {
    margin-bottom: 0.3rem;
    display: inline-block;
    margin-left: 0.2rem;
  }

  .hero__quote {
    position: relative;
    font-weight: 400;

    h2 {
      font-size: 2.8em;
      color: $primary-darker;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 0.1em;

      @include media-breakpoint-down(md) {
        font-size: 2.4em;
      }

      @include media-breakpoint-down(sm) {
        font-size: 2em;
      }

      @include media-breakpoint-down(xs) {
        font-size: 2em;
        line-height: 1.3;
        margin-bottom: 0.3em;
      }
    }

    .hero__quote-muted {
      color: $primary-darker;
      font-weight: 600;
      opacity: 0.6;
    }

    .hero__quote-accent {
      color: $primary-darker;
      font-weight: 600;
    }

    @include media-breakpoint-down(md) {
      max-width: 90%;
    }
  }
  .hero__summary {
    p {
      margin-top: 0;
      margin-bottom: 2rem;
      max-width: 30rem;
      font-size: 1.2em;
      margin-left: 0.1rem;
      font-weight: 400;
      letter-spacing: 1px;

      @include media-breakpoint-down(md) {
        font-size: 1.1em;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1em;
      }

      @include media-breakpoint-down(xs) {
        font-size: 1.2em;
      }
    }
  }

  .hero__cards {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    margin-bottom: 4.4rem;

    @include media-breakpoint-down(sm) {
      margin-top: 1.4rem;
      margin-bottom: 0.4rem;
    }
  }

  .lcontainer {
    padding-top: $header-height;
    padding-bottom: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
  }
}

//
// Brand Button
//
.brand-button {
  background: transparent;
  color: $primary;
  border: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 0.6rem;
  font-weight: 600;
  overflow: visible;
  cursor: pointer;

  .brand-button__text {
    transition: all 400ms;
  }

  .brand-button__wrapper {
    transition: all 400ms;
  }

  .brand-button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    border-radius: 10rem;
    background: $primary;
    color: #fff;
    transition: all 400ms;

    &::before {
      content: "";
      width: 45%;
      height: 45%;
      background: url(/icons/arrow.svg) center no-repeat;
      background-size: contain;
    }
  }

  &:hover {
    color: mix($primary, #fff, 80%);

    .brand-button__wrapper {
      transform: translateX(5px);
    }

    .brand-button__icon {
      background: mix($primary, #fff, 80%);
    }

    .brand-button__text {
      transform: translateX(8px);
    }
  }

  &.brand-button--close {
    &:hover {
      .brand-button__wrapper {
        transform: translateX(0px);
      }
    }
    .brand-button__icon {
      background: #e6e9f3;

      svg {
        width: 45%;
        height: 45%;
      }

      &::before {
        content: none;
      }
    }
  }

  &.brand-button--download {
    flex-direction: column;

    .brand-button__icon {
      margin-right: 0;
    }
    .brand-button__icon::before {
      transform: rotateZ(90deg);
    }
    .brand-button__wrapper {
      margin-top: 0.5rem;
    }

    &:hover {
      .brand-button__wrapper {
        transform: translateY(8px);
      }

      .brand-button__text {
        transform: translateY(4px);
      }
    }
  }

  &.brand-button--down {
    .brand-button__icon::before {
      transform: rotateZ(90deg);
    }
  }
}

//
// Feature Cards
//
.feature-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5em;

  .feature-card {
    position: relative;
    color: $dark;
    flex-basis: 33%;
    margin-top: 0.2em;
    margin-bottom: 0.1em;

    @include media-breakpoint-down(md) {
      margin-top: 0em;
      margin-bottom: 0.2em;
    }

    h4 {
      font-size: 1.2em;
      font-weight: 500;
      padding: 0;
      margin: 0 0 0.3em;
      color: $primary;
    }

    p {
      font-size: 0.85em;
      opacity: 0.8;
      margin-bottom: 0.4rem;
    }

    .feature-card__meta {
      font-size: 0.8em;
      color: mix($dark, #fff, 50%);
      padding: 0;
      margin: 0 0 0.7em;
    }

    .feature-card__internal {
      position: relative;
      transition: all 200ms ease;
      text-align: left;

      img {
        transition: all 200ms ease;
        height: 3rem;
        margin: auto;
        margin-bottom: 0.8rem;
      }
    }

    @include media-breakpoint-down(lg) {
      flex-basis: 50%;
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
    }

    .feature-card__read-more {
      color: $secondary;
      font-weight: 600;
      opacity: 0;
      transition: opacity 200ms, transform 200ms;
      font-size: 0.8em;
      transform: translateY(4px);

      @include media-breakpoint-down(md) {
        opacity: 0.6;
      }
    }

    .feature-card__internal {
      padding-top: 1.2em;
      padding-bottom: 0.8em;
      padding-right: 3em;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   opacity: 0.5;
      //   top: 0;
      //   bottom: 3rem;
      //   right: 1.8rem;
      //   left: 0;
      //   z-index: -1;
      //   transition: all 200ms;
      //   border-bottom: 4px solid transparent;
      // }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: -0.1rem;
      //   width: 0;
      //   height: 4px;
      //   border-radius: 1px;
      //   background: $secondary;
      //   opacity: 1;
      //   transition: all 200ms ease;
      // }
    }

    // &:hover {
    //   // transform: translateY(-10px);

    //   p {
    //     opacity: 1;
    //   }

    //   .feature-card__internal {
    //     // transform: translateY(-10px);

    //     img {
    //       // transform: translateY(8px);
    //     }

    //     &::after {
    //       transform: rotateZ(0deg);
    //       bottom: 0.6rem;
    //       top: -1rem;
    //       transition-delay: 0;
    //     }

    //     &::before {
    //       opacity: 1;
    //       width: 3rem;
    //       transition-delay: 0;
    //     }
    //   }

    // .feature-card__read-more {
    //   opacity: 1;
    //   transform: translateY(0);
    // }
    // }
  }

  &.feature-cards--four {
    .feature-card {
      flex-basis: 50%;

      @include media-breakpoint-down(md) {
        flex-basis: 100%;
      }
    }
  }

  &.feature-cards--one {
    .feature-card {
      flex-basis: 100%;

      @include media-breakpoint-down(md) {
        flex-basis: 100%;
      }
    }
  }
}

//
// Container
//
.lcontainer {
  // padding-top: 6em;
  // padding-bottom: 8em;

  &.lcontainer--small-spacing {
    padding-top: 0em;
  }

  //
  // Typography
  //
  h1 {
    font-size: 4em;
    font-weight: light;
  }

  h2 {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0.5em;
    color: $secondary;
  }

  h2 + p {
    margin-top: 1.6em;
  }

  h3 {
    font-size: 3em;
    font-weight: 300;
  }

  p {
    line-height: 1.6;
  }

  .lcontainer__headline {
    .lcontainer__headline__number {
      color: $primary-darker;
      opacity: 0.3;
      margin-right: 1rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 1rem;
        width: 1px;
        right: -0.3rem;
        top: 4px;
        background: $primary;
      }
    }
  }

  .lcontainer__headline {
    @include media-breakpoint-down(xl) {
      width: 80%;
      max-width: 80%;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 100%;
    }

    &.lcontainer__headline--small {
      width: 40%;
      @include media-breakpoint-down(xl) {
        width: 70%;
        max-width: 70%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .lcontainer__headline-sticky {
    position: relative;

    .lcontainer__headline {
      top: 5rem;
      position: sticky;
      margin: 0;
    }
  }

  //
  // Modifiers
  //
  &.lcontainer--story {
    padding-top: 4rem;
    padding-bottom: 4rem;

    color: #fff;

    @include media-breakpoint-down(lg) {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }
    @include media-breakpoint-down(md) {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }

    &.lcontainer--story-last {
      padding-bottom: 7.5rem;
    }

    h2 {
      color: #fff;
      font-weight: 500;
      font-size: 2em;
    }

    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
    }
    @include media-breakpoint-down(md) {
      font-size: 0.85em;

      h2 {
        margin-bottom: 1rem;
      }
    }

    .lcontainer__story-cards-wrapper {
      width: 60%;
      position: relative;

      @include media-breakpoint-down(lg) {
        width: 70%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .btn--tab {
        background: transparent;
        border: 2px dotted rgba($color: #ffffff, $alpha: 0.5);
        display: inline-block;
        text-align: left;
      }

      .card-body {
        padding: 0.4rem 2rem;
        border-left: 2px dotted rgba($color: #ffffff, $alpha: 0.4);
        margin: 1rem 2rem;
      }
    }

    .lcontainer__story-cards {
      padding: 2rem 4rem 0 4rem;
      display: flex;
      overflow-x: scroll;
      width: 100%;
      position: relative;
      align-items: stretch;
      justify-content: flex-start;

      @include media-breakpoint-down(md) {
        padding: 2rem 1rem;
      }

      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      .lcontainer__story-card {
        flex: 0 0 auto;
        font-size: 0.9em;
        width: 50rem;
        border: 2px dashed $border-light;
        border-radius: 8px;
        padding: 2rem 1rem;
        background: #f8f8f9;

        @include media-breakpoint-down(md) {
          width: 80%;
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }

        h4 {
          font-size: 1.2em;
          font-weight: 600;
          color: $primary-lighter;
          margin-bottom: 0.5em;
        }

        p {
          line-height: 1.4;
        }

        .lcontainer__story-card__internal {
          text-align: center;
          p {
            width: 90%;
            text-align: left;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .lcontainer__story-content {
      max-width: 70%;

      @include media-breakpoint-down(lg) {
        max-width: 80%;
      }
      @include media-breakpoint-down(md) {
        max-width: 90%;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }

      .lcontainer__story-content-multicolumn {
        columns: 2;
        column-gap: 4em;

        p {
          text-align: left;
        }

        @include media-breakpoint-down(lg) {
          columns: 1;
          column-gap: 0;
          max-width: 100%;

          p {
            text-align: justify;
          }
        }
      }
    }
  }

  &.lcontainer--roadmap {
    padding-bottom: 3rem;
    @include media-breakpoint-up(xl) {
      .timeline {
        margin-top: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0rem;
      padding-bottom: 4rem;
    }

    .lcontainer__headline {
      max-width: 80%;
    }

    .lcontainer--roadmap__roadmap {
      position: relative;
      top: 1rem;
      left: -2rem;
      width: calc(100% + 4rem);
      height: calc(100%);

      @include media-breakpoint-down(lg) {
        top: -1rem;
        left: -1rem;
        width: calc(100% + 2rem);
        height: calc(100% + 2rem);
        margin-top: -1rem;
      }
    }
  }

  &.lcontainer--illustrated {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    .lcontainer__headline {
      max-width: 50%;
      flex-basis: 50%;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex-basis: 100%;
        padding: 3em 20px;
      }
    }

    .lcontainer__illustrations {
      position: relative;
      max-width: 50%;
      flex-basis: 50%;

      .lcontainer__illustration {
        position: absolute;
        height: 70%;
        left: 0;
        right: 0;
        border-radius: 2px;

        > div {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }

        img {
          width: 100%;
          height: 90%;
          object-fit: contain;
        }
      }

      .lcontainer__illustration--back {
        right: 22%;
        top: -2em;
      }

      .lcontainer__illustration--front {
        bottom: -2em;
        right: -1em;
        left: 22%;
        z-index: 2;
      }

      .lcontainer__illustration--single {
        top: -3em;
        bottom: -3em;
        left: 0;
        right: -2em;
        height: auto;
      }

      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex-basis: 100%;
        min-height: 300px;

        .lcontainer__illustration--back {
          right: 22%;
          left: 20px;
          top: -1em;
        }

        .lcontainer__illustration--front {
          bottom: -1em;
          right: 20px;
          left: 22%;
        }
      }
    }
  }

  .parallax-element {
    transition: transform 40ms linear;
  }

  &.lcontainer--community {
    .parallax-element-group {
      position: relative;

      .parallax-element {
        position: absolute;
        top: -10%;
        right: 0;

        &.parallax-element--1 {
          right: -10%;
          top: -10%;
        }
        &.parallax-element--2 {
          top: 30%;
          right: 20%;
        }
        &.parallax-element--3 {
          top: 15%;
          right: 40%;
        }
      }
    }
  }

  &.lcontainer--bulletpoints {
    padding-bottom: 5rem;
  }

  &.lcontainer--whitepaper {
    align-items: center;

    padding: 0;
    color: $primary;

    h2 {
      font-size: 2.4em;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0;
      margin-bottom: 0.7rem;
      text-transform: none;
      color: $primary;
    }

    .lcontainer__headline {
      max-width: 50%;
      flex-basis: 50%;
      position: relative;
      z-index: 1;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex-basis: 100%;
        padding: 3em 20px;
      }
    }

    .lcontainer__illustrations {
      position: relative;
      max-width: 50%;
      flex-basis: 50%;
      padding: 0 !important;
      overflow: visible;
      display: block;
      align-self: stretch;
      bottom: -1px;

      .lcontainer__illustration {
        position: relative;
        left: auto;
        right: auto;
        height: auto;
        border: none;
        border-radius: 0;
        min-height: 25rem;
        height: 100%;
        width: 100%;
        max-width: 90%;
        overflow: visible;

        @include media-breakpoint-down(md) {
          min-height: 20rem;
        }

        svg {
          position: absolute;
          height: 90%;
          max-width: auto;
          bottom: 0;
          right: -50px;

          width: auto;
          align-self: flex-end;

          opacity: 0;
          transform: scale(0.9);
          transform-origin: center bottom;
          transition: opacity 400ms ease, transform 1500ms cubic-bezier(0.19, 1, 0.22, 1);

          .wp-element {
            transform-origin: 0 100%;
            transition: transform 1600ms cubic-bezier(0.19, 1, 0.22, 1);
          }
          .wp-logo {
            transform: translateX(-20px);
          }
          .wp-text rect {
            transition: width 1300ms cubic-bezier(0.19, 1, 0.22, 1);
            transition-delay: 250ms;
            width: 0;
          }
          .wp-paper-1 {
            transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateX(40px) rotateZ(10deg);
            transition-delay: 300ms;
          }
          .wp-paper-2 {
            transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateX(15px) rotateZ(15deg);
            transition-delay: 0ms;
          }
          .wp-paper-3 {
            transform: translateY(20px);
          }
        }

        @include media-breakpoint-down(md) {
          justify-content: flex-end;
          align-items: flex-end;

          svg {
            height: 100%;
            right: -50px;
          }
        }

        &.scroll-reveal--revealed {
          svg {
            opacity: 1;
            transform: scale(1);

            .wp-logo {
              transform: translateX(0);
            }
            .wp-text rect {
              width: 100%;
            }
            .wp-paper-1 {
              transform: translateY(0) rotateZ(0deg);
            }
            .wp-paper-2 {
              transform: translateY(0) rotateZ(0deg);
            }
            .wp-paper-3 {
              transform: translateY(0);
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        max-width: 100%;
        flex-basis: 100%;
        padding: 3em 20px;
      }
    }

    .lcontainer__illustrations {
      min-height: 500px;

      @include media-breakpoint-down(xl) {
        min-height: 350px;
      }
      @include media-breakpoint-down(lg) {
        min-height: 300px;
      }
      @include media-breakpoint-down(md) {
        min-height: 500px;
      }
      @include media-breakpoint-down(sm) {
        min-height: 400px;
      }
      @include media-breakpoint-down(xs) {
        min-height: 300px;
      }

      .lcontainer__illustration--single {
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  //
  // Responsive
  //
  @include media-breakpoint-down(sm) {
    .lcontainer__headline {
      max-width: 100%;
    }
  }
}

.lcontainer-wrapper-group {
  &--story {
    background: #fff;
  }
  .lcontainer-wrapper-group__paper {
    background: $primary;
    position: relative;
    z-index: 10;
    padding: 4rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
}

.lcontainer-wrapper {
  overflow: hidden;
  margin-top: 9rem;
  margin-bottom: 9rem;

  &--overflowed {
    overflow: initial;
  }

  &--story {
    padding: 0;
    margin: 0;
  }

  &--grey {
    background: #f4f5f7;
  }

  &--whitepaper {
    margin-top: 0rem;
    background: #ffffff;
    border-top: 1px dotted $border-light;
    border-bottom: 1px dotted $border-light;
    padding: 0;
    position: relative;
    padding-top: 3rem;

    &::before {
      content: "";
      background: url(../../public/hero-pattern.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.05;
      top: 0;
      right: 0;
      z-index: 0;
      pointer-events: none;
    }
  }

  &--dark {
    background: #20263d;

    .lcontainer {
      h2 {
        color: #fff;

        .lcontainer__headline__number {
          color: #fff;

          &::after {
            background: #fff;
          }
        }
      }

      p {
        color: mix($primary, #fff, 30%);
      }
    }
  }
}

.team-table {
  .team-table__card {
    cursor: pointer;
    display: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    transition: transform 100ms ease;
    z-index: 1;

    .team-table__card-bio {
      padding: 0 1rem;
    }

    .team-table__card-read-more {
      color: $secondary;
      font-weight: 600;
      opacity: 0;
      transition: opacity 200ms, transform 200ms;
      // position: absolute;
      text-align: center;
      margin-top: -0.2rem;
      margin-bottom: -0.2rem;
      font-size: 0.7em;
      transform: translateY(4px);

      @include media-breakpoint-down(sm) {
        opacity: 0;
        // bottom: -1.2rem;
      }
    }

    .team-table__card-about {
      font-size: 0.8em;
      top: calc(100% + 0.7rem);
      left: 0;
      padding-top: 0.6rem;
      width: 100%;
      text-align: center;
      opacity: .7;
    }

    &:hover {
      z-index: 3;

      @include media-breakpoint-up(md) {
        .team-table__card-about {
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -0.6rem;
      left: -0.6rem;
      right: -0.6rem;
      border-radius: 2px;
      bottom: -0.6rem;
      background: $primary;
      opacity: 0;
      z-index: -1;
      transition: all 100ms ease;
    }

    &:hover {
      &::before {
        opacity: 0.03;
        bottom: -1.2rem;
      }

      .team-table__card-read-more {
        opacity: 0.8;
        transform: translateY(0);
      }
    }

    h5 {
      text-align: center;
      margin: auto;
      display: block;
      line-height: 0.8;
      
    }

    p {
      font-size: 0.9em;
    }
  }
  .team-table__card-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    
    img {
      width: 5em;
      min-height: auto;
      height: auto;
      border: 2px solid #fff;
      border-radius: 400px;
      margin: auto;
      margin-top: -3.5em;
      margin-bottom: 0rem;
      position: relative;
      z-index: 1;
    }
  }

  .team-table__card-header-row {
    display: flex;
    align-items: center;
  }

  .team-table__card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .team-table__card-social {
    a {
      color: white;
      width: 1.2rem;
      height: 1.2rem;
      background: $primary;
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 0.6rem;
      }
    }
  }

  .team-table__card-position {
    opacity: 0.6;
    font-size: 0.6em;
  }
}

.lcontainer__spinner {
  color: $secondary;
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lcontainer__medium-widget {
  min-height: 15rem;
  padding-top: 0rem;
  padding-bottom: 2rem;

  @include media-breakpoint-down(lg) {
    padding-bottom: 0rem;
  }

  .medium-widget {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 600ms linear, transform 1900ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.lcontainer__medium-widget--loaded {
    .medium-widget {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.medium-widget-article__image {
  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.medium-widget .medium-widget-article__row {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.medium-widget-article__column {
  font-family: inherit;
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding-bottom: 2rem;

  .medium-widget-article__title {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
  }
}

.medium-widget-article__content {
  padding: 0.6rem 1.4rem;
}

.medium-widget-article__description {
  padding: 0.4rem 0 1rem;
  font-size: 1rem;
}

.modal-overlay {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  pointer-events: fill;

  .modal-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40rem;
    height: 22.5rem;

    @include media-breakpoint-down(md) {
      width: 80%;
      height: 50vh;
    }

    iframe {
      border-radius: 0.4rem;
      width: 100%;
      height: 100%;
    }
  }
}

.intro-video {
  width: 100%;

  iframe {
    border-radius: 0.4rem;
    width: 100%;
    height: 100%;
    border: 0;
    min-height: 70vh;
    height: 30rem;
  }
}

.team-card-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 0;
  pointer-events: none;

  &--visible {
    opacity: 1;
    pointer-events: auto;
  }

  .team-card-modal__card {
    max-width: 50vw;
    width: 500px;
    height: auto;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    z-index: 2;
    padding: 1rem 2rem;

    @include media-breakpoint-down(md) {
      max-width: 90vw;
    }
  }
}

@import "timeline";
