@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "./config";

@import "node_modules/bootstrap/scss/variables";

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light;
  background: #232429;
  font-family: $font-family-primary;

  .content__default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.9em;
    padding-top: 3rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-primary;
  }

  p {
    strong {
      font-weight: 500;
      color: $light;
    }
  }

  .landing-logo__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.6em;
    font-size: 1.4em;

    @include media-breakpoint-down(sm) {
      font-size: 1.2em;
    }

    .logo__wrapper {
      flex-direction: column;

      .logo__logo {
        height: 3.4em;
        margin: 0;
      }

      .logo__title {
        margin: 0;
        text-align: center;
        line-height: 1.6;
        margin-top: 0.3em;

        .logo__title-name {
          margin-bottom: 0.1em;
          font-family: $font-family-primary;
        }

        .logo__title-sub {
          display: inline-block;
        }
      }
    }
  }

  p {
    font-size: 1rem;
    color: $dark;
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  ul {
    li {
      font-size: 0.9em;
    }
  }

  //
  // Special sections
  //
  .section-intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 70%;

    @include media-breakpoint-down(lg) {
      font-size: 0.9em;
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      font-size: 0.8em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.65em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.6em;
    }

    p {
      position: relative;
      color: $gray-500;
      font-size: 1.7em;
      font-weight: 400;

      strong {
        font-weight: 400;
        color: $gray-300;
      }
    }

    .section-intro--accent p {
      background: rgb(245, 245, 248);
      padding: 0.2em 0.6em;
      border-radius: 3px;
      font-size: 1.8em;
      color: #222;

      strong {
        color: #222;
      }
    }
  }

  .section-links {
    display: flex;
    justify-content: center;
    margin-top: 1.4em;
    margin-bottom: 4em;
    font-size: 1.2em;
    flex-wrap: wrap;

    .links__link {
      position: relative;
      display: block;
      text-align: center;
      width: 50%;
      margin-top: 1em;
      padding: 0;
      border-radius: 6px;
      margin-right: 1em;
      margin-left: 1em;
      max-width: 17em;
      transition: all 100ms;
      box-sizing: border-box;
      font-family: $font-family-secondary;

      @include media-breakpoint-down(xs) {
        width: 100%;
        max-width: 100%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 80%;
        width: 80%;
      }

      

      &:hover {
        opacity: 0.9;
        background: #2D2E33;

        p {
          color: $gray-400;

          strong {
            color: $gray-300;
          }
        }
      }

      .links__link-headline p {
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $dark;
        font-weight: 500;
        text-align: center;
        padding: 0.8em 0.4em 0.6em;
        font-family: $font-family-secondary;
        position: relative;
        color: $primary;

        strong {
          color: $primary;
        }

        &::after {
          content: "";
          position: absolute;
          left: -4px;
          right: -4px;
          bottom: -2px;
          height: 4px;
          border-radius: 100px;
          background: $primary;
        }

        strong {
          font-weight: 600;
        }
      }

      &:active {
        opacity: 0.85;
      }

      p {
        font-size: 0.9em;
        max-width: 100%;
        padding: 0.4em 1em;
        font-weight: 400;
        color: $dark-lighter;
        transition: color 100ms;

        strong {
          transition: color 100ms;
          color: $dark-lighter;
          font-weight: 500;
        }
      }

      p {
        color: $gray-400;

        strong {
          color: $gray-300;
        }
      }
    }
  }
}
